<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Help</title>
</head>
<body>
    {{>navbar}}
    <div class="main-content">
    <h1>{{>header}}</h1>
    <p>{{helpText}}</p>
    <img class="portrait" src="/img/help.jpg" alt="help photo">
    <p> If you're experiencing issues, make sure your internet connection and location permissions are active. For support, contact us at khoward@r2happrentice.org. Stay prepared and safe!</p>
    </div>
    {{>footer}}
</body>
</html>