<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title>Home</title>
</head>
<body>
    {{>navbar}}
    <div class="main-content">
        <h1>{{>header}}</h1>
        <div id="blur">
        <p> Use this site to get your weather!</p>
    <form action="">
        <input type="text" placeholder="Location">
        
        <select id="unit-select">
        <option value="f">Fahrenheit (°F)</option>
        <option value="m">Celsius (°C)</option>
        <option value="s">Kelvin (K)</option>
        </select>
        <button>Search</button>
    </form>
    
    <p id="message-1"></p>
    <p id="message-2"></p>
        </div>
    </div>
    {{>footer}}
    <script src="./js/app.js"></script>
</body>
</html>